/*--taupe-gray: #92828dff;
--white: #ffffffff;
--blue-sapphire: #175676ff;
--maximum-blue: #4ba3c3ff;
--celadon: #afd5aaff;*/

body {
  padding-top: 56px;
  font-family: "Oswald", sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  /*overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.my-navbar {
  background-color: #175676ff;
  letter-spacing: 0.25rem;
}

.home {
  font-weight: bolder;
}

h1 {
  color: black;
  letter-spacing: 0.25rem;
  word-spacing: 1rem;
  text-transform: uppercase;
  margin-top: 20px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.my-footer {
  display: block;
  left: 0px;
  right: 0px;
  background-color: #175676ff;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  bottom: 0;
  width: 100%;
  height: 30px;
  position: fixed;
}

.my-container {
  margin-bottom: 50px;
}

.my-img {
  width: 75%;
  position: relative;
  overflow: hidden;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-me {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

#about-me-p {
  text-indent: 2.5rem;
}

.parent {
  display: grid;
  place-items: center;
  text-align: left;
}

textarea {
  width: 80%;
  resize: none;
  border: 2px solid #175676ff;
  border-radius: 10px;
}

.center {
  margin: auto;
  width: 60%;
}

.div-distancer {
  margin-bottom: 10px;
}

.sign-in-button {
  background-color: #175676ff;
  color: #fff;
}