<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: meta-head">
  </head>
  <body>
  <nav th:replace="layout :: site-navbar">
  </nav>
  <div th:replace="layout :: banner-fragment">
  </div>
    <div class="container my-container">
        <div class="row">
            <div class="col-sm-12">
                <form th:object="${messageDTO}" th:action="@{/contact/add-new}" method="post">
                    <div class="row parent">
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger col-sm-12 parent" style="margin-top: 20px; width: 80%">
                            <p>Please Correct Errors Below</p>
                        </div>
                        <div class="col-sm-12 parent" style="margin-top: 20px;">
                            <h3 for="name-and-surname">Name and Surname</h3>
                        </div>
                        <div class="col-sm-12 parent">
                            <input type="hidden" th:field="*{id}"/>
                            <input th:field="*{name}" class="form-control text-start center-block" type="text" id="name-and-surname" name="name" style="width:80%" placeholder="Your name...">
                            <div class="col-sm-12 pull-left" style="width: 80%">
                                <div th:if="${#fields.hasErrors('name')}">
                                    <ul>
                                        <li class="listed-error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 parent">
                            <h3 for="subject">Subject</h3>
                        </div>
                        <div class="col-sm-12 parent">
                            <input th:field="*{subject}" class="form-control text-start center-block" type="text" id="subject" name="subject" style="width:80%" placeholder="Subject...">
                        </div>
                        <div class="col-sm-12 pull-left" style="width: 80%">
                            <div th:if="${#fields.hasErrors('subject')}">
                                <ul>
                                    <li class="listed-error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 parent">
                            <h3 for="email">Contact email</h3>
                        </div>
                        <div class="col-sm-12 parent">
                            <input th:field="*{contactEmail}" class="form-control text-start center-block" type="text" id="email"  name="contactEmail" style="width:80%" placeholder="Your email...">
                        </div>
                        <div class="col-sm-12 pull-left" style="width: 80%">
                            <div th:if="${#fields.hasErrors('contactEmail')}">
                                <ul>
                                    <li class="listed-error" th:each="err : ${#fields.errors('contactEmail')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 parent">
                            <h3 for="message">Message</h3>
                        </div>
                        <div class="col-sm-12 parent">
                            <textarea th:field="*{text}" class="form-control text-start center-block" type="textarea" id="message" name="text" style="width: 80%" rows="8" placeholder="Your message.."></textarea>
                        </div>
                        <div class="col-sm-12 pull-left" style="width: 80%">
                            <div th:if="${#fields.hasErrors('text')}">
                                <ul>
                                    <li class="listed-error" th:each="err : ${#fields.errors('text')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <input type=“checkbox” checked=“true” style="display:none;" th:field="*{status}">
                        <div class="col-sm-12 parent" style="margin-top: 10px;">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout :: footer-fragment">
    </footer>
  </body>
</html>
