<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: meta-head">
  </head>
  <body>
  <nav th:replace="layout :: site-navbar">
  </nav>
  <div th:replace="layout :: banner-fragment">
  </div>
    <div class="container my-container">
        <div class="row">
            <div class="col-sm-12">
                <form action="post">
                    <div class="row parent">
                        <div class="col-sm-12 parent" style="margin-top: 20px;">
                            <label for="name-and-surname">Name and Surname</label>
                        </div>
                        <div class="col-sm-12 parent">
                            <input class="form-control text-start center-block" type="text" id="name-and-surname" style="width:80%" placeholder="Your name...">
                        </div>
                        <div class="col-sm-12 parent">
                            <label for="subject">Subject</label>
                        </div>
                        <div class="col-sm-12 parent">
                            <input class="form-control text-start center-block" type="text" id="subject" style="width:80%" placeholder="Subject...">
                        </div>
                        <div class="col-sm-12 parent">
                            <label for="email">Contact email</label>
                        </div>
                        <div class="col-sm-12 parent">
                            <input class="form-control text-start center-block" type="text" id="email" style="width:80%" placeholder="Your email...">
                        </div>
                        <div class="col-sm-12 parent">
                            <label for="message">Message</label>
                        </div>
                        <div class="col-sm-12 parent">
                            <textarea class="form-control text-start center-block" type="textarea" id="message" style="width: 80%" rows="8" placeholder="Your message.."></textarea>
                        </div>
                        <div class="col-sm-12 parent" style="margin-top: 10px;">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout :: footer-fragment">
    </footer>
  </body>
</html>
