<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout :: meta-head">
</head>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<body>
<nav th:replace="layout :: site-navbar">
</nav>
<div th:replace="layout :: banner-fragment">
</div>
    <form th:action="@{/login}" action="post"  role="form" class="form-signin">
      <div class="container">
        <h1 class="h3 mb-3 text-center">Please sign in</h1>
          <div class="row">
          <div class=" col-10 col-sm-8 col-md-6 mx-auto div-distancer">
          <div th:if="${param.error}" class="alert alert-danger">
              <div>
                  Invalid username or password.
              </div>
          </div>
          <div th:if="${param.logout}" class="alert alert-danger">
              <div>
                  You have been logged out.
              </div>
          </div>
      </div>
      </div>
        <div class="row">
          <div class=" col-10 col-sm-8 col-md-6 mx-auto div-distancer">
            <input class="form-control text-start" type="text" id="username" placeholder="Enter username...">
        </div>
        </div>
        <div class="row">
          <div class="col-10 col-sm-8 col-md-6 mx-auto div-distancer">
            <input class="form-control text-start" type="password" id="password" placeholder="Enter password...">
          </div>
        </div>
        <button class="col-10 col-sm-8 col-md-6 mx-auto btn btn-lg sign-in-button btn-block my-container"
                type="submit">Sign in</button>
    </div>
    </form>
    <footer th:replace="layout :: footer-fragment">
    </footer>
</body>
</html>