<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: meta-head">
</head>
<body>
<nav th:replace="layout :: site-navbar">
</nav>
<div th:replace="layout :: banner-fragment">
</div>
<div class="container my-container">
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h5 class="text-center">NAME AND SURNAME:</h5>
            <p th:text="${messageDTO.getName()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h5 class="text-center">SUBJECT:</h5>
            <p th:text="${messageDTO.getSubject()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h5 class="text-center">CONTACT EMAIL:</h5>
            <p th:text="${messageDTO.getContactEmail()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h5 class="text-justify">MESSAGE:</h5>
            <p th:text="${messageDTO.getText()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
                <a th:href="@{/messages/answer/{id} (id=${messageDTO.getId()})}" class="btn btn-info pull-left">Answer</a>
                <a th:href="@{/messages/delete/{id} (id=${messageDTO.getId()})}" class="btn btn-danger pull-right">Delete</a>
        </div>
    </div>
</div>
<footer th:replace="layout :: footer-fragment">
</footer>
</body>
</html>