<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: meta-head">
</head>
<body>
<nav th:replace="layout :: site-navbar">
</nav>
<div th:replace="layout :: banner-fragment">
</div>
<div class="container mb-5">
    <div class="table-responsive">
        <h1 class="h3 mb-3 text-center">MESSAGES</h1>
        <table class="table table-sm">
            <tr class="table-messages">
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">EMAIL</th>
                <th scope="col">STATUS</th>
                <th scope="col">ACTION</th>
            </tr>
            <tr th:each=" message : ${messages}">
                <td class="text-center" th:text="${message.getId()}"></td>
                <td class="text-center" th:text="${message.getName()}"></td>
                <td class="text-center" th:text="${message.getSubject()}"></td>
                <td class="text-center" th:text="${message.getContactEmail()}"></td>
                <td class="text-center" th:text="${message.isStatus()} ? 'Answered' : 'Not answered'"></td>
                <td class="text-center" style="white-space:nowrap;">
                <a th:href="@{/messages/show/{id} (id=${message.getId()})}" class="btn btn-info">Details</a>
                <a th:href="@{/messages/delete/{id} (id=${message.getId()})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer th:replace="layout :: footer-fragment">
</footer>
</body>
</html>