<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: meta-head">
</head>
<body>
<nav th:replace="layout :: site-navbar">
</nav>
<div th:replace="layout :: banner-fragment">
</div>
<div class="container my-container" style="margin-top: 20px; width: 80%">
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h3 class="text-center">NAME AND SURNAME:</h3>
            <p th:text="${messageDTO.getName()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h3 class="text-center">SUBJECT:</h3>
            <p th:text="${messageDTO.getSubject()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h3 class="text-center">CONTACT EMAIL:</h3>
            <p th:text="${messageDTO.getContactEmail()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <h3 class="text-justify">MESSAGE:</h3>
            <p th:text="${messageDTO.getText()}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer text-center">
                <a th:href="@{/admin/messages/answer/{id} (id=${messageDTO.getId()})}" class="btn btn-info">Answer</a>
                <a th:href="@{/admin/messages/delete/{id} (id=${messageDTO.getId()})}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
<footer th:replace="layout :: footer-fragment">
</footer>
</body>
</html>