<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head th:replace="layout :: meta-head">
  </head>
  <body>
  <nav th:replace="layout :: site-navbar">
  </nav>
  <div th:replace="layout :: banner-fragment">

  </div>
    <div class="container my-container">
      <div class="row">
        <div class="col-10 mx-auto div-distancer" th:if="${postDTO.getImageEncoded()} != null">
          <img class="card-img-top" th:src="${'data:image/jpeg;base64,'+ postDTO.getImageEncoded()}"
               alt="Image">
        </div>
      </div>
      <div class="row">
            <div class="col-10 mx-auto div-distancer">
              <h1 th:text="${postDTO.getHeading()}">First paragraph</h1>
              <h5 th:text="'Author: ' + ${postDTO.getUserDTO().getUsername()}"></h5>
              <h6 th:text="'Date: ' + ${#temporals.format(postDTO.getDate(),'dd-MM-yyyy')}"></h6>
              <p class="text-justify" th:text="${postDTO.getText()}">
              </p>
              <hr>
            </div>
      </div>
      <div sec:authorize="${isAuthenticated()}" class="col-10 mx-auto div-distancer my-container">
      <div class="row">
        <div class="text-center">
          <a th:href="@{/post/edit/{id} (id=${postDTO.getId()})}" class="btn btn-info">Edit</a>
          <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/post/delete/{id} (id=${postDTO.getId()})}" class="btn btn-danger">Delete</a>
        </div>
      </div>
      </div>
      <form th:action="@{/post/{id}/add-comment (id=${postDTO.getId()})}" th:object=${commentDTO} method="post">
      <div class="row">
        <div class="col-10 mx-auto div-distancer">
          <h4>COMMENT SECTION</h4>
        </div>
      </div>
          <div class="row">
            <div class="col-10 mx-auto div-distancer">
              <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p>Please Correct Errors Below</p>
              </div>
            </div>
          </div>
        <div class="row">
            <div sec:authorize="${isAuthenticated()}" class="col-10 mx-auto div-distancer my-container">
                  <input th:field="*{text}" class="form-control" name="comment" id="comment" placeholder="Type your comment">
                <div class="row">
                  <div class="pull-left">
                    <div th:if="${#fields.hasErrors('text')}" class="pull-left">
                      <ul>
                        <li class="listed-error" th:each="err : ${#fields.errors('text')}" th:text="${err}"></li>
                      </ul>
                    </div>
                  </div>
                </div>
                  <button class="btn btn-lg sign-in-button btn-block my-container mt-3" type="submit">Submit</button>
            </div>
        </div>
        <div class="row">
          <div class="col-10 mx-auto div-distancer">
          <div th:each="commentDTO : ${commentsDTO}">
            <h5 th:text="${commentDTO.getUserDTO().getUsername()}"></h5>
            <h6 th:text="${#temporals.format(commentDTO.getDate(),'dd-MM-yyyy')}"></h6>
            <p th:text="${commentDTO.getText()}"></p>
            <div sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/post/delete/{id} (id=${postDTO.getId()})}" class="btn btn-danger">Delete</a></div>
          </div>
          </div>
      </div>
      </form>
    </div>
    <footer th:replace="layout :: footer-fragment">
    </footer>
  </body>
</html>
