<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: meta-head">
</head>
<body>
<nav th:replace="layout :: site-navbar">
</nav>
<div th:replace="layout :: banner-fragment">
</div>
<div class="container my-container">
    <form th:object="${userDTO}" th:action="@{/admin/users/{id}/update (id=${userDTO.getId()})}" method="post">
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <div class="checkbox">
                <ul>
                    <li th:each="role : ${roles}">
                        <input type="checkbox" name="categories" th:value="${role.getId()}"/>
                        <label th:text="${role.getName()}"></label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-sm-8 col-xl-6 mx-auto div-distancer">
            <button type="submit" class="btn btn-success pull-left">Submit</button>
<!--            <a th:href="@{/admin/users/{id}/update (id=${userDTO.getId()})}" class="btn btn-info">Update</a>-->
        </div>
    </div>
    </form>
</div>
<footer th:replace="layout :: footer-fragment">
</footer>
</body>
</html>